body {
  padding: 0;
  margin: 0;
  background: #f5fbfb;
}

/* nav bar */
.navbar {
  background: #af9164;
}
.nav-link,
.navbar-brand {
  color: #fffffa;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #2d936c;
}
.navbar-collapse {
  justify-content: flex-end;
}
/* account form */
form {
  width: 40%;
  display: inline-block;
  text-align: left;
  background-color: #af9164;
  border: 5px solid #af9164;
  border-radius: 5%;
}
form h1 {
	text-align: center !important;
}
form p {
	color: white;
	text-align: center;
}
.register {
  background-image: url("/static/images/men-working.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50vh;
}
.register h1 {
  color: #1b9aaa;
}
li {
  text-decoration: none;
}
#submit {
  border: 1px solid #1b9aaa;
  background: #1b9aaa;
  border-radius: 0;
  color: #fffffa;
}
#submit:hover {
  border: 1px solid #fffffa;
  background: #fffffa;
  color: #000;
  transition: 0.45s;
}
.loginquestion {
  color: #666;
  padding: 40px 0;
}
/* media queries */
@media (max-width: 480px) {
  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 10%;
    transform: none;
    text-align: center;
  }
  .description h1 {
    font-size: 2em;
  }
  .description p {
    font-size: 1.2rem;
  }
  .features {
    margin: 0;
  }
}
