<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - ByteHacks</title>
</head>
<body>
    <div>
        ByteHacks:
        <a href="{{ url_for('Home.index') }}">Home</a>
        <a href="{{ url_for('Dashboard.index') }}">Dashboard</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('Home.login') }}">Login</a>
        <a href="{{ url_for('Home.register') }}">Register</a>
        {% else %}
        <a href="{{ url_for('Home.logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>