<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='css/create.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='css/browse.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Recursive&display=swap"
      rel="stylesheet"
    />
    <title>{% block title %}{% endblock %} - ByteHacks</title>
  </head>
  <body>
	{% with messages = get_flashed_messages() %} 
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<strong>{{ message }}</strong>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endfor %}
		{% endif %} 
	{% endwith %} 
    <nav class="navbar sticky-top navbar-expand-md">
      <a class="navbar-brand" href="#"
        ><img src="images/favicon.gif" alt="favicon"
      /></a>
      <button
        class="navbar-toggler navbar-dark"
        type="button"
        data-toggle="collapse"
        data-target="#main-navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('Home.index') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('Home.about') }}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('Dashboard.index') }}"
              >Browse</a
            >
          </li>
          {% if current_user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('Home.login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('Home.register') }}"
              >Create an Account</a
            >
          </li>
          {% else %}
			<li class="nav-item">
			  <a href="{{ url_for('Home.logout') }}" class="nav-link">Logout</a>
			</li>
			<li class="nav-item">
				<button class="btn btn-outline-light">{{ current_user.first_name }}</button>
			</li>
          {% endif %}
        </ul>
      </div>
    </nav>

  {% block content %}{% endblock %}
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-8 col-sm-12">
            <div class="footer-copyright text-center">&copy;2020 Helploy. All rights reserved.</div>
          </div>
        </div>
      </div>
    </footer>
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endblock %}
  </body>
</html>
