{% from "_macros.html" import render_my_job%}
{% extends "_base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content%}
<h1 class="mb-5 text-center">Welcome {{current_user.first_name}}</h1>
<p class="h3 my-3">Here are current jobs that you are taking:</p>
<hr>
<div id="myJobs">
    {% if my_job_ids|length != 0 %}
        {% for id in my_job_ids %}
        <div class="card mb-1">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <span>
                        <p class="h4 font-bold text-capitalize">{{jobs[id]['name']}}</p>
                    </span>
                    <span>
                        <p class="h3">${{jobs[id]['salary']}}</p>
                    </span>
                </div>            
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>

{% if jobs %}
    <p class="h3 mt-3">Jobs Available:</p>
    <div class="row">
    {% for id, job in jobs.items() %}
        {% if not id in my_job_ids %}
        <div class="col-6 mb-3">
            <div class="card" id="{{id}}">
                <h5 class="card-header text-capitalize">{{ job['fow'] }}</h5>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title text-capitalize">{{ job['name'] }}</h5>
                        <p class="h3">${{ job['salary'] }}</p>
                    </div>
                    <p class="lead">
                        {% if job['location'] == 'ma' %}
                            Massachusetts
                        {% elif job['location'] == 'ny' %}
                            New York
                        {% elif job['location'] == 'ca' %}
                            California
                        {% else %}
                            None
                        {% endif %}
                    </p>
                    <p>
                        <a class="card-link" data-toggle="collapse" href="#job{{id}}" role="button" aria-expanded="false" aria-controls="job{{id}}">
                            More Info
                        </a>
                    </p>
                    <div class="collapse" id="job{{id}}">
                            <p class="card-text">{{ job['info'] }}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button id="btnRegister" class="btn btn-primary">Sign Up</button>
                        <p>
                            Workers:
                            <span class="nw">{{job['needed_workers']}}</span>
                            /
                            <span class="tw">{{job['total_workers']}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% else %}
<p class="h3">There are no jobs available...</p>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}