{% from "_macros.html" import render_my_job%}
{% extends "_base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content%}
<h1>Hello {{ current_user.first_name }}, This is a dashboard</h1>
{% if my_jobs %}
<div>Here are current jobs that you are taking</div>
<ul>
    {% for job in my_jobs %}
    {{render_my_job(job)}} 
    {% endfor %}
</ul>
{% else %}
<div class="">You currently have not sign up for any job</div>
{% endif %}
{% if jobs %}
    {% for job in jobs %}
    <div id="{{job['id']}}">
        <p class='name'>Name: {{job['name']}}</p>
        <p class='salary'>Salary: {{job['salary']}}</p>
        <p class='gender'>For: {{ job['gender']|join(',') }}</p>
        <p class='workers'>Workers needed: {{job['total_workers']}}</p>
        <p class='fow'>Field of work: {{job['fow']}}</p>
        <p class='location'>Location:
            {% if job['location'] == 'ma' %}
                Massachusetts
            {% elif job['location'] == 'ny' %}
                New York
            {% elif job['location'] == 'ca' %}
                California
            {% else %}
                None
            {% endif %}
        </p>
        <p class='info'>Info: {{job['info']}}</p>
        <button id="btnRegister">Sign up</button>
    </div>
    <hr>
    {% endfor %}
{% else %}
<div>There are no jobs available...</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}