{% extends "_base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<header class="page-header header container-fluid">
	<div class="overlay"></div>
	<div class="description">
		<h1>Welcome!</h1>
		<p>If you're searching for employment, this is the perfect place for you. To get started, click the About Us link on the horizontal navigation bar to learn more about our mission and our team. Next, create an account to browse all available job listings!</p>
		<a href="{{ url_for('Dashboard.index') }}"><button class="btn btn-outline-secondary btn-lg">Browse Jobs</button></a>
	</div>
</header>
{% endblock %}