{% from '_formhelpers.html' import render_field %}
{% extends "_base.html" %}

{% block title %}
Sign In
{% endblock %}


{% block content %}
    <div class="register">
        <form action="" method="post" novalidate>
            <h1>Sign In</h1>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label}}
                {{ form.email(class_="form-control", placeholder="Enter your email") }}
            </div>
            <div class="form-group">
                {{ form.password.label}}
                {{ form.password(class_="form-control", placeholder="Password") }}
            </div>
            {{ form.submit() }}
            <p>New User? <a href="{{ url_for('Home.register') }}">Click to Register!</a></p>
        </form>
    </div>
{% endblock %}