{% from '_formhelpers.html' import render_field %}
{% extends "_base.html" %}

{% block title %}
Sign In
{% endblock %}


{% block content %}
    <div class="register">
        <form class="needs-validation" action="" method="post" novalidate>
            <h1>Sign In</h1>
            {{ form.hidden_tag() }}
            {{render_field(form.email)}}
            {{render_field(form.password)}}
            {{ form.submit() }}
            <p>New User? <a href="{{ url_for('Home.register') }}">Click to Register!</a></p>
        </form>
    </div>
{% endblock %}